 .u-section-1 {
  background-image: url("images/8ce8be162a14405aaa56ea2ef2bb84d0cd34944ecc12720ba50fbffb406423823365c3840121c43b899863828f27a35cd4ae8618653d8ddb094de1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 424px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 146px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 821px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 45px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 74px 97px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/101d24e5a0826e7194c2d31f1c94c3fc902366666e014f38c14da9f6d36e772ebe6c4600c0d517102dbd19d3459e09b189b1c3e652d1f065360eef_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 796px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 105px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 63px 97px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 957px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 74px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 51px 97px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 999px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 95px auto 0;
}

.u-section-5 .u-image-1 {
  height: 567px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 51px 109px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    height: 185px;
    margin-top: 60px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 35px;
    margin-bottom: 38px;
  }
}