 .u-section-1 {
  background-image: url("images/Connect.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 54px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-left: 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 572px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 82px auto 0 11px;
}

.u-section-2 .u-image-1 {
  width: 259px;
  height: 308px;
  margin: 9px 82px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -275px auto 60px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 307px;
    margin-top: 59px;
    margin-right: 65px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -274px;
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 12px;
    margin-right: 44px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -290px;
    margin-right: 259px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    margin-top: 310px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -591px;
    margin-right: -11px;
    margin-left: 11px;
  }
}